<%= form_with url: "bookings/new", method: :get, local: true do |f| %> <%# use local: true to have the form load on flights/index%>
  <% @available_flights.each do |flight| %>
    <div> 
      <%= f.radio_button(:flight, flight.id) %>
      <%= f.label(:flight, "#{flight.date.hour}:#{flight.date.min} departure from #{flight.departure_airport.code} to #{flight.arrival_airport.code}") %>
    </div>
  <% end %>
  <%= f.hidden_field(:passenger_count, :value => params[:passenger_count]) %>
  <%= f.submit("Book it!") %>
<% end %>